<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  CREDENCIAL PARA THYMELIFE-->
<head>
<meta charset="UTF-8">
<title>Pagina</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">



<body>
	 <img th:src="@{/images/logo.png}" width="136" height="136" >
	<h1 class="text-primary">Bienvenidos a la tabla persona 😎</h1>
	
	
	<table class="table table-bordered border-primary table-striped table-hover">
		<tr >
			<td>FOTO</td>
			<td class="text-danger">ID</td>
			<td class="text-danger">NOMBRE</td>
			<td class="text-danger">EPELLIDOS</td>
			<td class="text-danger">EDAD</td>
			<td class="text-danger">FECHA/NACIMIENTO</td>
			<td class="text-danger">ESTADO CIVIL</td>
			<td class="text-danger">FORTUNA</td>
		</tr>
		<tr th:each="persona: ${personas}">
			<td>
				
				 <img th:src="@{/images/{img}(img=${persona.imagen})}" width="136" height="136" > <!-- IMG ES VARIABLE TEMPORAL -->
							 	
			</td>
			<td th:text="${persona.id}"></td>
			<td th:text="${persona.nombre}"></td>
			<td th:text="${persona.apellido}"></td>
			<td th:text="${persona.edad}"></td>
			<td th:text="${persona.fNacimiento}"></td>
			
			<!-- 
			<td th:text="${persona.casado}"></td>
			 -->
			 
			 <!-- CONDICION ELVIS
			 <td th:text="${persona.casado ==true ? 'SOLTERO' : 'CASADO'}"
			 		th:class="${persona.casado ==true ? 'badge bg-success' : 'badge bg-danger'}">
			 
			 </td>
			  -->
			 <!-- CONDICION IF UNLESS  -->
			 <td>
			 	<span th:if="${persona.casado== true}" class="badge bg-success">SOLTERO</span>
			 	<span th:unless="${persona.casado== true}" class="badge bg-danger">CASADO</span>
			 
			 
			 </td>
			
			 
			 
			<td th:text="${persona.fortuna}"></td>
			
		</tr>
	</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>